In [1]:
import os

In [2]:
%pwd

'c:\\Users\\Dell\\Desktop\\amazon_scraper\\research'

In [3]:
os.chdir('../')

In [4]:
%pwd

'c:\\Users\\Dell\\Desktop\\amazon_scraper'

In [5]:
import nltk
from nltk.sentiment import SentimentIntensityAnalyzer
import pandas as pd
from sqlalchemy import create_engine
import sqlite3

In [6]:
nltk.download('vader_lexicon', quiet=True)

True

In [7]:
conn = sqlite3.connect('amazon_reviews.db')

In [8]:
df = pd.read_sql_query("SELECT * FROM reviews", conn)

In [9]:
df.head()

,Title,Description,Rating,Color,Storage Size,Verified Purchase
0,Confused? Read on! One stop review for your fl...,I went through a lot of reviews and articles b...,5.0,Black,128GB,Verified Purchase
1,Excellent product; please purchase if your dat...,The iPhone 12 is the latest iteration of Apple...,5.0,Black,128GB,Verified Purchase
2,An overall good premium experience,"SUMMERY: As a first time iPhone user, I would ...",4.0,N/A,N/A,Verified Purchase
3,Perfect product,It's my second iPhone ever and I bought it wit...,5.0,N/A,N/A,Verified Purchase
4,First step into the ecosystem!,"I have been a smartphone user since 2015, used...",5.0,Blue,128GB,Verified Purchase

In [10]:
def analyze_sentiment(text):
    sia = SentimentIntensityAnalyzer()
    scores = sia.polarity_scores(text)
    
    if scores['compound'] > 0.05:
        return 'positive'
    elif scores['compound'] < -0.05:
        return 'negative'
    else:
        return 'neutral'

In [11]:
def analyze_reviews(reviews):
    sentiments = [analyze_sentiment(text) for text in reviews['Description']]
    reviews['Sentiment'] = sentiments
    return reviews

In [12]:
df_with_sentiment = analyze_reviews(df)

In [13]:
engine = create_engine('sqlite:///amazon_reviews.db')

In [14]:
df_with_sentiment.to_sql('reviews', engine, if_exists='replace', index=False)

100

In [15]:
sentiment_counts = df_with_sentiment['Sentiment'].value_counts()

In [16]:
sentiment_counts

Sentiment
positive    85
negative    10
neutral      5
Name: count, dtype: int64

In [17]:
df_with_sentiment.to_csv('amazon_reviews.csv')

In [20]:
import pandas as pd

In [21]:
df=pd.read_csv('amazon_reviews.csv')

In [22]:
df.head()

,Unnamed: 0,Title,Description,Rating,Color,Storage Size,Verified Purchase,Sentiment
0,0,Confused? Read on! One stop review for your fl...,I went through a lot of reviews and articles b...,5.0,Black,128GB,Verified Purchase,positive
1,1,Excellent product; please purchase if your dat...,The iPhone 12 is the latest iteration of Apple...,5.0,Black,128GB,Verified Purchase,positive
2,2,An overall good premium experience,"SUMMERY: As a first time iPhone user, I would ...",4.0,NaN,NaN,Verified Purchase,positive
3,3,Perfect product,It's my second iPhone ever and I bought it wit...,5.0,NaN,NaN,Verified Purchase,positive
4,4,First step into the ecosystem!,"I have been a smartphone user since 2015, used...",5.0,Blue,128GB,Verified Purchase,positive

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         100 non-null    int64
 1   Title              100 non-null    object
 2   Description        99 non-null     object
 3   Rating             100 non-null    float64
 4   Color              38 non-null     object
 5   Storage Size       38 non-null     object
 6   Verified Purchase  100 non-null    object
 7   Sentiment          100 non-null    object
dtypes: float64(1), int64(1), object(6)
memory usage: 6.4+ KB

In [25]:
df['Title'].value_counts()

Title
Good                                                              6
Nice                                                              2
An overall good premium experience                                1
Perfect product                                                   1
Confused? Read on! One stop review for your flagship purchase.    1
                                                                 ..
Looks are Premium rest everything is Mediocre                     1
Worst replacement experience                                      1
Camera is very bad                                                1
Don’t go on the negative reviews. The product is amazing          1
The BOSS Phone..!!! iPhone 12 truly a masterpiece from Apple.     1
Name: count, Length: 94, dtype: int64

In [26]:
df = df.drop_duplicates(keep='first')

In [27]:
df.shape

(100, 8)

In [28]:
df.head()

,Unnamed: 0,Title,Description,Rating,Color,Storage Size,Verified Purchase,Sentiment
0,0,Confused? Read on! One stop review for your fl...,I went through a lot of reviews and articles b...,5.0,Black,128GB,Verified Purchase,positive
1,1,Excellent product; please purchase if your dat...,The iPhone 12 is the latest iteration of Apple...,5.0,Black,128GB,Verified Purchase,positive
2,2,An overall good premium experience,"SUMMERY: As a first time iPhone user, I would ...",4.0,NaN,NaN,Verified Purchase,positive
3,3,Perfect product,It's my second iPhone ever and I bought it wit...,5.0,NaN,NaN,Verified Purchase,positive
4,4,First step into the ecosystem!,"I have been a smartphone user since 2015, used...",5.0,Blue,128GB,Verified Purchase,positive

In [29]:
df['Rating'].value_counts()

Rating
5.0    53
4.0    41
3.0     5
1.0     1
Name: count, dtype: int64

In [30]:
df[df['Title']=='Best Iphone']

,Unnamed: 0,Title,Description,Rating,Color,Storage Size,Verified Purchase,Sentiment
10,10,Best Iphone,Value for money and no lags !! Iphone 12 is be...,5.0,Black,128GB,Verified Purchase,positive

In [31]:
df = df.drop_duplicates(keep='last')

In [32]:
df.shape

(100, 8)

In [33]:
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [34]:
df = df.drop_duplicates(keep='last')

In [35]:
df.shape

(99, 7)